[Unit]
Description=Mavee Updater Service
After=network.target

[Service]
ExecStart=/bin/bash -c 'source /root/.nvm/nvm.sh && node /home/rockylinux-javaManager/javamanager/bin/mavee_updater_cli.js upgrade'
Restart=always
User=root
WorkingDirectory=/home/rockylinux-javaManager/javamanager/bin
Environment="PATH=/root/.nvm/versions/node/v22.14.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
StandardOutput=append:/var/log/mavee-updater.log
StandardError=append:/var/log/mavee-updater.log

[Install]
WantedBy=multi-user.target